
<!--<h3 id="universal">Angular2 Universal</h3>
  <nav>
    <a routerLinkActive="router-link-active" routerLink="home">Home</a>
    <a routerLinkActive="router-link-active" routerLink="about">About</a>
    <a routerLinkActive="router-link-active" routerLink="todo">Todo</a>
    <a routerLinkActive="router-link-active" routerLink="lazy">Lazy</a>
  </nav>
  <div class="hero-universal">
    <div class="inner-hero">
      <div>
        <span xLarge>Universal JavaScripts {{ title }}!</span>
      </div>

      Two-way binding: <input type="text" [value]="title" (input)="title = $event.target.value">

      <br>
      <br>

      <strong>Router-outlet:</strong>
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>-->

  <div class="cover">
    <div class="phoneSizeLogo">
        <img src="/assets/PP_Logo_White.png" class="img-responsive logoPadding">
    </div>
    <div class="col-md-5 pull-right phoneSizeTagLine">
        <img src="/assets/PP_Tagline_White.png" class="
        img-responsive taglineImgStyling">
    </div>
</div>
<navbar></navbar>
<router-outlet></router-outlet>

<footer></footer>